#klarnaWrapper {position: relative;} 
.klarnaLink, #klarnaMsg{
    background-color:#FFF;
    text-align:center;
    border:1px solid #1e7ec8;
    display:block;
    padding:20px 5px;
    margin-bottom:0px;
    border-radius:3px;
}
.klarnaLink {margin-bottom:10px;}
.klarna_link_text{margin:10px 0px 0px 0px;font-weight:bold;}
#klarnaMsg h2{
    color:#1e7ec8;
    font-weight:bold;
    margin:0px;
}
.klarnaLink:hover{border:1px solid #8CCBFC;}
.klarna_alert{font-weight:bold; color:red;}
#klarnaOverlay{
	background-color:#FFF;
	position:absolute;
	height:100%;
	width:100%;
	opacity:0.5;
}
.cart .totals_row{margin: 0 0 18px;}
.cart .payments ul{display:inline;margin-bottom:-5px;}
.cart .payments ul li {
	display:block;
	float:left;
	border: 1px solid #d0cbc1;
	padding:10px 20px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin-left:5px;
	border-bottom:0px;
	background: #eeeeee;
	background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc));
	background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
	background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
	background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%);
	background: linear-gradient(to bottom,  #eeeeee 0%,#cccccc 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 );
}
.cart .payments ul li a{
	display:block;
	text-decoration:none;
	font: bold 13px/16px Arial, Helvetica, sans-serif;
	color: #000;
	text-transform: uppercase;
}
.cart .payments ul li.active{	
	position:relative;
	z-index:20;
	background: rgb(178,225,255);
	background: -moz-linear-gradient(top,  rgba(178,225,255,1) 0%, rgba(102,182,252,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(178,225,255,1)), color-stop(100%,rgba(102,182,252,1)));
	background: -webkit-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
	background: -o-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
	background: -ms-linear-gradient(top,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
	background: linear-gradient(to bottom,  rgba(178,225,255,1) 0%,rgba(102,182,252,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b2e1ff', endColorstr='#66b6fc',GradientType=0 );
	margin-bottom: -1px;
	margin-top: 1px;
}
.cart .payments ul li:hover{
	background: rgb(222,239,255);
	background: -moz-linear-gradient(top,  rgba(222,239,255,1) 0%, rgba(152,190,222,1) 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(222,239,255,1)), color-stop(100%,rgba(152,190,222,1)));
	background: -webkit-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	background: -o-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	background: -ms-linear-gradient(top,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	background: linear-gradient(to bottom,  rgba(222,239,255,1) 0%,rgba(152,190,222,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#deefff', endColorstr='#98bede',GradientType=0 );
}
.payment_container{
	padding:5px;
	overflow: hidden;
	clear:left;
	margin-top: -20px;
	position: relative;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border: 1px solid #d0cbc1;
}
.sp-methods{
	background:none !important;
	margin:0px !important;
	padding:0px !important;
}
.cart .crosssell{margin: 0 0 18px;overflow:hidden;}
.cart .cart-collaterals .col2-set, .cart .totals{width:auto;float:none;}
.cart .cart-collaterals .col2-set .col-2{width: 48.5%;}
.cart .crosssell li.item{float:left;margin-right:10px;}
.loading{ background: url('loader.gif') no-repeat 50% 50% !important; opacity:0.7;}